.App {
  text-align: center;
}
.pad-0{
  padding: 0px !important;
}
.main, .dept, .frms, .pad-0, .department,.student{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navi{
  background-color: #f0c977 !important;
  border-radius: 0px !important;
  border: 0px !important;
}
.leftsoc{
  background-color:#4ca6a5 ;
}
.navisoc{
  background-color: rgb(108, 105, 105) !important;
  border-radius: 0px !important;
  border: 0px !important;
}
.navi .nav li a{
  color: rgb(73, 53, 11) !important;
}
#sidebar-menu{
  height: 100vmin;
}
.list{
  font-size: 18px !important;
  color: #024858 !important;
  font-weight: bold;
}
.please{
  line-height: 60px !important;
  font-size: 20px;
}
.navbar-header{
  /* background-color: aquamarine; */
}
.deptfrm{
  background-color:#bae1e1;
}
.glycol{
  background-color: #bae1e1 !important;  
color:#024858 !important;
}
.eye{
  margin-top: -2px !important;
  background-color: lightgray !important; 
}
.pass{
  display: flex;
  justify-content: space-around;
}
.easy{
  font-family: gabriola;
  font-weight: bold;
  font-size: 34px;
  color:#024858;
}
a{
  cursor: pointer;
}
a:hover{
  text-decoration: none !important;
}

.white{
  background-color: white;
  width: 100%;
  text-align: center;
}
.top{
  background-color:#f1d6a2 !important;
}
.text2{
  line-height: 50px !important;
  font-weight: bold;
  font-size: 24px;
}
.left_col{
  background-color: #0a4958;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.log{
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regi{
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgs{
  border-radius: 25px;
}

.im{
  width:100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.register{
  background-image:linear-gradient( #59cdca,white,white, white, white,#c6eeed);
}
.img2{
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 25px;
}
.update{
  text-decoration: none !important;
  color: white;
}
.text{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 70px !important;
}
.text3{
  font-weight: bold;
  font-size: 27px;
  line-height: 40px !important;
}
.text4{
  font-weight: bold;
  font-size: 20px;
  line-height: 40px !important;
}
.add{
  float: right;
  font-size: 18px !important;
  margin: 1%;
}
.upbtn{
  float: right;
  font-size: 20px !important;
  margin-right: 2% !important;
}
.btndep{
  float: left;
  font-size: 18px !important;
  margin: 1%;
}
.closd{
  font-size: 18px !important;
}
.addept{
  font-size: 18px !important;
 background-color:#1c8f8d !important;
}
.form-control{
  padding: 1% !important;
font-size: 16px !important;
}
.yel th{
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
}
.head th{
  text-align: center;
  background-color: white;
}

.subevent{
  font-size: 18px !important;
  float: right;
  margin-bottom: 4% !important;
}
.filee{
  font-size: 18px !important;
}
.plz{
  line-height: 30px !important;
}
.btnn{
 background-color:#1c8f8d !important;
 color: white !important;
}
.btnn:hover{
  background-color: #87dbd9 !important;
  color: black !important;
}
.sub{
  width: 100%;
  font-size: 18px !important;
}
.sub1{
  width: 100%;
  font-size: 18px !important;
  background-color: #0097aa !important;
}
.glycol1{
  background-color: #83b4c0 !important;
  color: black !important;
}

.form-group{
  padding: 1% !important;
}
.frm, .register{
  box-shadow: 0px 0px 10px 10px lightgray;
  border-radius: 25px;
  margin: 0px !important;
  padding: 0px !important;
}
label{
  font-size: 16px;
}

td, th{
  text-align: center;
  font-size: 14px;
}

.tble {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.tble td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.panel{
  border: 2px solid #c6eeed !important;
  background-image:linear-gradient(#aadedd,white);
  border-radius: 15% !important;
  box-shadow: 0px 0px 10px 10px lightgray !important;
  padding: 4%;
  margin: 4%;
}
.panel:hover{
  box-shadow: 0px 0px 10px 10px #aadedd !important;
}
.paneltop{
font-size: 80px;
}
.panelbody{
  font-weight: bold;
  font-size: 22px;
}
.view{
  background-color:#1c8f8d !important;
  font-size: 20px !important;
}
.view:hover,.btnn:hover{
  background-color: #87dbd9 !important;
  color: black !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}